:root {
  --textColor: #3f3f3f;
  --bgColor2: #aeaeae;
  --bgColor1: #d6d6d6;
  --primaryColor1: #2962FF;
  --primaryColor2: #0039CB;
  --primaryColor3: #eaefff;
  --secondaryColor1: #455A64;
  --secondaryColor2: #1C313A;
  --secondaryColor3: #dbe2e6;
  --dangerColor1: #D32F2F;
  --dangerColor2: #9A0007;
  --dangerColor3: #f0c1c1;
}

.btn {
  padding: .5rem 1rem;
  border-radius: .4rem;
  border: none;
  font-size: .9rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.default {
  background-color: var(--bgColor1);
  color: var(--textColor);
  box-shadow: 0 10px 4px -6px var(--bgColor2);
}

.default:is(:focus, :hover) {
  background-color: var(--bgColor2);
}

.outline {
  background-color: #fff;
  border: 1px solid var(--textColor);
  color: var(--textColor);
  box-shadow: none;
}

.outline:is(:focus, :hover) {
  background-color: var(--bgColor1);
}

.text {
  background: none;
  color: var(--textColor);
  box-shadow: none;
}

.text:is(:focus, :hover) {
  background-color: var(--bgColor1);
}

.disableShadow {
  box-shadow: none;
}

.primaryColor.default {
  --textColor: #fff;
  --bgColor1: var(--primaryColor1);
  --bgColor2: var(--primaryColor2);
}

.primaryColor {
  --textColor: var(--primaryColor1);
  --bgColor1: var(--primaryColor3);

}

.secondaryColor.default {
  --textColor: #fff;
  --bgColor1: var(--secondaryColor1);
  --bgColor2: var(--secondaryColor2);
}

.secondaryColor {
  --textColor: var(--secondaryColor1);
  --bgColor1: var(--secondaryColor3);
}

.dangerColor.default {
  --textColor: #fff;
  --bgColor1: var(--dangerColor1);
  --bgColor2: var(--dangerColor2);
}

.dangerColor {
  --textColor: var(--dangerColor1);
  --bgColor1: var(--dangerColor3);
}

.small {
  min-width: 6rem;
  max-width: 12rem;
  min-height: 2rem;
}

.medium {
  min-width: 7rem;
  max-width: 14rem;
  min-height: 2.5rem;
}

.large {
  min-width: 8rem;
  max-width: 16rem;
  min-height: 3rem;
}

.btn[disabled] {
  opacity: .6;
  cursor: not-allowed;
}

.iconStart {
  margin-right: .6rem;
  color: inherit;
  font-size: inherit;
}

.iconEnd {
  margin-left: .6rem;
  color: inherit;
  font-size: inherit;
}
