:root {
  --label: #566b76;
  --border: #96a1a5;
  --disabled: #96a1a5;
  --hover: #35484F;
  --focus: #566b76;
  --blue1: #89C4FF;
  --blue2: #3B82F6;
  --blue3: #1F3A93;
  --green1: #96FFA3;
  --green2: #47C660;
  --green3: #2E8442;
  --pink1: #FF94C2;
  --pink2: #FF4081;
  --pink3: #C60055;
  --purple1: #E29FFF;
  --purple2: #B66CCF;
  --purple3: #813E9F;
  --error1: #FF6666;
  --error2: #FF0000;
  --error3: #990000;
}

/* ? Colors */
.blue {
  --label: var(--blue2);
  --border: var(--blue1);
  --hover: var(--blue3);
  --focus: var(--blue2);
}

.green {
  --label: var(--green2);
  --border: var(--green1);
  --hover: var(--green3);
  --focus: var(--green2);
}

.pink {
  --label: var(--pink2);
  --border: var(--pink1);
  --hover: var(--pink3);
  --focus: var(--pink2);
}

.purple {
  --label: var(--purple2);
  --border: var(--purple1);
  --hover: var(--purple3);
  --focus: var(--purple2);
}

.error {
  --label: var(--error2);
  --border: var(--error1);
  --hover: var(--error3);
  --focus: var(--error2);
}

/* ? Sizes */
.sm {
  --width: 12rem;
  --padding: .3rem;
}

.md {
  --width: 15rem;
  --padding: .5rem;
}

.lg {
  --width: 20rem;
  --padding: 1rem .6rem;
}

.fullWidth {
  --width: 100%;
  --padding: 1rem .5rem;
}

/* ? Generals */

.label {
  color: var(--label);
  font-size: .8rem;
  font-weight: 500;
}

.fieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  width: var(--width);
  border: 1px solid var(--border);
  border-radius: .5rem;
  padding: var(--padding);
}

.fieldContainer i {
  color: var(--border);
}

.fieldContainer:hover {
  --border: var(--hover);
}

.focus {
  --label: var(--focus);
  --border: var(--focus);
}

.fieldContainer :is(input, textarea) {
  flex: 1;
  border: none;
  background: none;
  resize: none;
  outline: none;
}

.fieldContainer:has(textarea) i  {
  align-self: flex-start;
}

.helperText {
  color: var(--label);
  font-size: .75rem;
}

/* ? Disabled */
.fieldContainer:has(:is(input, textarea)[disabled]) {
  background-color: var(--border);
  border-color: var(--focus);
  cursor: not-allowed;
}

.fieldContainer:has(:is(input, textarea)[disabled]) :is(input, textarea) {
  cursor: not-allowed;
}

.fieldContainer:has(:is(input, textarea)[disabled]) i {
  color: var(--focus);
}
